{% extends 'base.html' %}

{% block item %}
<div class="item">
    <p>Welcome to the auto insurance claim service. Follow the instructions step by step to submit. Be sure to attach a photo of the damage to your application.</p>
</div>
<div class="item">
    <h1>Step 1</h1>
    <p>Please login. </p>
</div>
<div class="item">
    <h1>Step 2</h1>
    <p>Create a new application. Enter a valid insurance number. In addition, indicate the make, model of the car and attach a photo of the damage.</p>
</div>
<div class="item">
    <h1>Step 3</h1>
    <p>Control the status of your applications in your personal account.</p>
</div>
{% endblock %}
