p {
    color: blue;
}

.headline {
    color:crimson;
}

#my_p {
    color:cadetblue;
}

#header {
    background-color: blueviolet;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#content {
    background-color: brown;
    display: flex;
    flex-direction: row;
}

#footer {
    background-color: chocolate;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    padding-left: 5%;
}

#login {
    margin-top: 1%;
    margin-right: 1%;
}

#content-left {
    background-color: bisque;
    width: 25%;
}

#content-center {
    background-color: darkblue;
    width: 50%;
}

#content-right {
    background-color: darkorchid;
    width: 25%;
}