{% extends "master.html" %}

{% block title %}Winter 2022/2023{% endblock %}


{% block content %}
{% load bootstrap4 %}


<div class="container py-3">
    <h2>Календарь мероприятий</h2>
    <hr>
    <br>
    <div class="row">
        {% for x in events %}
        <div class="col-md-4 mb-4">
            <div class="card h-100" style="border:none">

                <img src="{{ x.poster.url }}" class="card-img-top" alt="{{ x.title_event}}"
                     style="width: auto; height: 310px; object-fit: scale-down;">
                <div class="card-body">
                    <h5 class="card-title">{{ x.title_event }}</h5>
                    <p class="card-text text-muted" style="font-size:12px">{{ x.date }}</p>
                    <a href="details/{{ x.id }}" class="btn btn-info">Подробнее</a>
                    {% if perms.events.add_events %}
                    <a href="delete_event/{{x.id}}" class="btn btn-outline-danger">Удалить</a>
                    {% endif%}
                    <br>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<style>
.button {
    position: fixed;
    right: 20px;
    top: 25%;
    border-radius: 4px;
    background-color: #3F729B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


</style>

{% if perms.events.add_events %}
<a href="{% url 'create_event' %}" class="button"><span>Add new event</span></a>
{% endif %}

{% endblock %}
