{% extends "master.html" %}

{% block title %}Details about {{ event.title_event }} {% endblock %}


{% block content %}

<br>

<div class="row">
    <div class="col-md-4">
        <img src="{{event.poster.url}}" alt="" width="70%">
    </div>
    <div class="col-md-4">
        <h4>Информация о {{ event.id}} этапе Grodno Street-O:</h4>
        <h1> {{event.title_event}}</h1>
        <br>
        <h5>Дата: {{ event.date }}</h5>
        <br>
        {% if event.tech_info %}
        <h5><a href="{{ event.tech_info.url }}">Техническая информация</a></h5>
        {% endif %}
        <br>
        {% if event.event_status == 'Ongoing' %}
        <div class="section" id="event-action-wrapper">
            {% if registered %}
            <p class="text--success">You have already registed for this event || </p>
            {% else %}
            {% if user.is_authenticated %}
            <a href="{{ event.id }}/registration" class="btn btn-info"><span>Регистрация</span></a>
            {% endif%}
            {% endif %}
            <br>
            <br>
        </div>
        {% else %}
        <h6><i style="color:Tomato;">Registration closed for this event.</i></h6>
        {% if event.result %}
        <h5><a href="{{ event.result }}">Результаты</a></h5>
        {% endif %}
        {% endif %}
        <hr>
    </div>
</div>

<button onclick="history.back()" class="btn btn-info">Назад</button>

{% endblock %}
