{% extends "master.html" %}


{% block title %}
Home page
{% endblock %}

{% block content %}

<br>
<div class="test container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-10">
            <h2>Спортивное ориентирование</h2>
            <p class="lead">Людям свойственно стремиться к большему. Мы ставим цели, добиваемся их и идем к следующим.
                Начинаем бегать с пары километров, потом пятерка, десятка, полумарафон и марафон, постепенно улучшаем
                результаты. Сейчас многие этим не ограничиваются, они открывают для себя триатлон, добавляя к бегу
                плавание и велосипед. Но триталон — не единственная альтернатива. Сегодня я хочу рассказать о спортивном
                ориентировании, которое может добавить к вашему бегу дикую природу, веселую компанию и интересные
                логические задачи. Опыт, который вы не получите в других видах спорта.</p>
            <br>
            <h3>Что такое ориентирование на местности?</h3>
            <p class="lead">Спортивное ориентирование — вид спорта, в котором спортсмены с помощью компаса и карты ищут
                расположенные на местности контрольные пункты. Соревнования проходят в городе или на природе.
                Передвигаются спортсмены бегом — классический вариант. Победителем становится участник, который находит
                все пункты и приходит к финишу первым. Самые важные качества ориентировщика: скорость прохождения
                дистанции, и точность выбора маршрута.</p>
        </div>
    </div>
</div>

{% endblock content %}