#header,
.module caption {
  background: #4a4e5b;
}

div.breadcrumbs {
  background: #4a4e5b;
}

.button,
.submit-row input,
a.button {
  background: #4a4e5b;
}

.button.default,
input[type="submit"].default,
.submit-row input.default {
  background: #4a4e5b;
}
