{% extends 'base.html' %}
{% load static %}

{% block second_part %}
{% endblock %}

{% block content %}

<h1 style=" margin-left: 200px;
padding-top: 20px;
font-size: 45px;
font-weight: 500;
color: #147614;" >Как исправить плохую кредитную историю? </h1>

<div style="width:500px; margin-left:80px; margin-top:50px">
<h2>Что такое кредитная история?</h2> <p style="font-size: 20px;">
Это информация обо всех ваших кредитах: где, когда и сколько брали, выступали ли созаёмщиком либо поручителем, аккуратно ли платили.

Как только вы подаёте заявку на кредит или заём, данные отправляются в бюро кредитных историй. Кредитную историю определяете вы сами, банки лишь передают информацию в бюро.   </p>
<br>
<h2>Как улучшить плохую кредитную историю?</h2>
<p style="font-size: 20px;">Просто берите совсем небольшие кредиты и очень аккуратно их гасите. Можно оформить кредитную карту. За пару лет вы создадите новую историю взаимоотношений с банками — хорошую. Обычно банки пристально смотрят как раз на последние 2-3 года кредитной истории. И не забывайте вовремя оплачивать счета за жильё и телефон: злостные должники тоже получают плохую запись в кредитной истории. </p>

</div>

<img src="{% static "images/good3_desk-min.png" %}" style="position: absolute;margin-left: 650px; margin-top: -660px "> 
<div id = '#bottom'> </div>
{% endblock %}
