{% extends 'base.html' %}
{% load static %}

{% block second_part %}
{% endblock %}
    
{% block content %}

<h1 style=" margin-left: 200px;
padding-top: 20px;
font-size: 45px;
font-weight: 500;
color: #147614;" >Сколько денег готов дать банк в долг? </h1>

<div style="width:500px; margin-left:80px; margin-top:50px">
<h2>Оцените свою кредитную нагрузку 
    и шансы на новый кредит </h2> <p style="font-size: 20px;">
    Узнайте всё о своём будущем кредите заранее: <br>

    1) Одобрит ли банк кредит, кредитную карту или ипотеку <br>
    2)Какую сумму и по какой ставке вы можете взять в кредит и на каких условиях<br>
    3)Какую сумму в месяц вы можете тратить на погашение кредитов </p>
<br>
<h2>Проверьте, актуальны ли ваши текущие кредиты</h2> <br>
<h2>Знаете свой кредитный потенциал — 
    знаете свои возможности</h2>
</div>

<img src="{% static "images/good5_desk-min.png" %}" style="position: absolute;margin-left: 650px; margin-top: -600px "> 

{% endblock  %}