{% extends 'base.html' %}
{% load static %}

{% block second_part %}
{% endblock %}
    
{% block content %}

<h1 style=" margin-left: 200px;
padding-top: 20px;
font-size: 45px;
font-weight: 500;
color: #147614;" >Как не переплатить по кредиту? </h1>

<div style="width:500px; margin-left:80px; margin-top:50px">
<h2>Как выбрать кредит и не пожалеть</h2> <p style="font-size: 20px;">
При выборе потребительского кредита мы первым делом смотрим на ставку, а уже потом — на остальные условия. Но низкая ставка может оказаться ловушкой, и не факт, что благодаря ей получится сэкономить на платеже. Рассказываем, на что обращать внимание и как выбрать кредит, чтобы не переплатить.   </p>
<br>
<h2>Коротко</h2>
<p style="font-size: 20px;"> 1) Низкая ставка не всегда гарантирует самые выгодные условия. Возможно, её могут одобрить, только если вы согласитесь купить дорогую страховку.<br>
    2) Оцените, сколько вы готовы платить по кредиту. Чем меньше срок — тем меньше переплата, но ежемесячный платёж при этом намного больше.<br>
    3) Посчитайте переплату. Бывает, что с низкой ставкой переплата по кредиту больше, чем с высокой.<br>
    4) Не берите первый попавшийся кредит, даже если его хвалят в интернете. Посмотрите разные предложения, почитайте отзывы о банках. </p>

</div>

<img src="{% static "images/good4_desk-min.png" %}" style="position: absolute;margin-left: 650px; margin-top: -780px "> 

{% endblock %}
