#header {
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;
    height:100px
}

#footer {
    background-color: brown;
    display:flex;
    justify-content: center;
}