{% extends 'base.html' %}

{% block title %}
    <meta charset="UTF-8">
    <title>{{ accessory.description }}</title>
{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; justify-content: flex-start;align-items:center; width:500px;">
    <h2> {{ accessory.description|capfirst }} </h2>
    <p> Type: {{ accessory.type|capfirst }}</p>
    <p> Article if applicable: {{accessory.article }} </p>
    <p> Price BYN: {{ accessory.unit_price_BYN }}</p>
    <p> Price USD: {{ accessory.unit_price_USD }}</p>
    <p> Purchase date: {{ accessory.purchase_date }}</p>
    <p> Purchase place: {{ accessory.purchase_place|capfirst }}</p>
    <p style="text-align:center"> Comment: {{ accessory.comment|capfirst }}</p>
    <p> Update timestamp: {{ accessory.update_timestamp }}</p>
</div>
{% endblock %}