{% extends 'base.html' %}
{% load static%}

{% block content %}
<div class="program">
    <div class="program-items">
        <div class="program-item"><div class="program-title">Python programming class</div>
        <div class="program-subtitle">
            <div class="program-btn">Python</div>
            
       
            
        </div>
        <div class="program-content">Python is a high-level coding language used for web development, game development, building apps, machine learning, and so much more. 

        </div>

        </div>
        <div class="program-item"><div class="program-title">Unity game development</div>
        <div class="program-subtitle">
            <div class="program-btn">Unity</div>
            <div class="program-btn">C#</div>
       
            
        </div>
        <div class="program-content">Learn Unity to build fun 2D and 3D games. Unity is the most popular game engine in the world, and is behind many of the most popular games. 

        </div>
       
        
    </div>
    <div class="program-item"><div class="program-title">Web development class</div>
    <div class="program-subtitle">
        <div class="program-btn">HTML</div>
        <div class="program-btn">CSS</div>
        <div class="program-btn">JavaScript</div>
   
        
    </div>
    <div class="program-content">Build your first web pages, and find out how the Internet really works. 
    </div>
</div>

{% endblock %}  