{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'app/css/app-style.css' %}" type="text/css" />
    </head>
    <body>
        <div id="header">
            <h1>Blogs!!!</h1>
            <div id="buttons">
                {% if user.is_authenticated %}
                    <p>{{ user.get_username }}</p>
                    <a href="{% url 'logout' %}?next={{request.path}}">Log out</a>
                {% else %}
                    <a href="{% url 'login' %}?next={{request.path}}">Log in</a>
                {% endif %}
                {% if perms.app.add_post %}
                    <a href="{% url 'add' %}">create post</a>
                {% endif %}
            </div>
        </div>
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            <p>Powered by Django</p>
        </div>
    </body>
</html>