{% extends 'coworking/base.html' %} {% load static %} {% block title %}
Register{% endblock %} {% block content %}
<div class="formms">
  <div class="mainforms">
    <div class="forms">
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}

        <label> <h3>{{f.label}}</h3> </label><br />
        <h3>{{f}}</h3>

        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <div class="addbutton">
          <button type="submit"><h3>Регистрация</h3></button>
        </div>
      </form>
    </div>
  </div>
</div>
<img
  style="margin-top: 3%; height: 400px; width: 100%"
  src="{% static 'coworking/img/register.jpg' %}"
  alt=""
/>
{% endblock %}
